---
layout: page
title: 关于 | MSBU Tech
head: MSBU Tech
type: about
permalink: /about/
members:
  - name: haharazer
    github: haharazer
  - name: David Zhang
    github: crispgm
  - name: 布道希
    github: regrex
    homepage: https://regrex.github.io/
  - name: 影魔
    github: hzphust
    homepage: https://hzphust.github.io/
  - name: Raphael Liu
    github: raphael-liu
  - name: EverThis
    github: everthis
  - name: Richard Jing
    github: RichardJing
  - name: Lang Jun
    github: langjun
    homepage: https://langjun.github.io/
---

<div class="page-title">
关于
</div>
<div class="article">
  <div class="article-title">
    我们是 MSBU Tech!
  </div>
  <div class="article-comment">
    <i class="fa fa-rss-square" aria-hidden="true"></i>
    <a href="/weekly/feed.xml" target="_blank">
      订阅技术周刊
    </a>
    <i class="fa fa-rss-square" aria-hidden="true"></i>
    <a href="/blog/feed.xml" target="_blank">
      订阅博客
    </a>
  </div>
</div>

<div class="page-title">
我们的成员
</div>
{% for member in page.members %}
<div class="article">
  <div class="article-icon">
    {% if member.homepage %}
    <a href="{{ member.homepage }}" target="_blank">
      <i class="fa fa-globe" aria-hidden="true"></i>
    </a>
    {% endif %}
    {% if member.github %}
    <a href="https://github.com/{{ member.github }}" target="_blank">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    {% endif %}
  </div>
  <div class="article-title">
    {{ member.name }}
  </div>
</div>
{% endfor %}
