---
layout: page
title: 首页 | MSBU Tech
head: MSBU Tech
type: index
---
<div class="page-title">
  周刊
</div>
{% assign sorted_weekly = site.weekly | reverse %}
{% for weekly in sorted_weekly limit: 6 %}
<div class="article">
  <div class="article-item">
    <div class="article-date">
      {{ weekly.date | date: "%Y/%m/%d" }}
    </div>
    <div class="article-title">
      <a href="{{ site.baseurl }}{{ weekly.url }}">
        业内技术周刊
      </a>
      {{ weekly.articles | size }}
    </div>
  </div>
</div>
{% endfor %}
<div class="page-title">
  分享
</div>
{% for share in site.data.share %}
<div class="article">
  <div class="article-item">
    <div class="article-date">
      {{ share.date }}
    </div>
    <div class="article-title">
      <a href="{{ share.link }}" target="_blank">{{ share.title }}</a>
    </div>
    <div class="article-comment">
      分享人: {{ share.person }}
    </div>
  </div>
</div>
{% endfor %}
<div class="page-title">
  博客
</div>
{% for post in site.posts limit:6 %}
<div class="article">
  <div class="article-item">
    <div class="article-date">
      {{ post.date | date: "%Y/%m/%d" }}
    </div>
    <div class="article-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
    </div>
    <div class="article-main">
      {{ post.excerpt }}
    </div>
  </div>
</div>
{% endfor %}
<div class="page-title">
  项目
</div>
<script async defer src="https://buttons.github.io/buttons.js"></script>
{% for project in site.data.project %}
<div class="article">
  <div class="article-item">
    <div class="article-star">
      <a class="github-button"
         href="https://github.com/{{ project.repo }}"
         data-icon="octicon-star"
         data-count-href="/{{ project.repo }}/stargazers"
         data-count-api="/repos/{{ project.repo }}#stargazers_count"
         data-count-aria-label="# stargazers on GitHub"
         aria-label="Star {{ project.repo }} on GitHub">Star</a>
    </div>
    <div class="article-title">
      <a href="{{ project.link }}">{{ project.name }}</a>
    </div>
    <div class="article-main">
      {{ project.intro }}
    </div>
  </div>
</div>
{% endfor %}
