---
layout: page
title: 首页 | MSBU Tech
head: MSBU Tech
type: index
---
<div class="article">
  <div class="page-title">
    周刊
  </div>
{% for post in site.posts limit:5 %}
  {% if post.layout == "weekly" %}
  <div class="article-item">
    <div class="article-date">
      {{ post.date | date: "%Y/%m/%d" }}
    </div>
    <div class="article-title">
      <a href="{{ site.baseurl }}{{ post.url }}">业内技术周刊</a>
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>
<div class="article">
  <div class="page-title">
    分享
  </div>
  {% for share in site.data.share %}
  <div class="article-item">
    <div class="article-date">
      {{ share.date }}
    </div>
    <div class="article-title">
      <a href="{{ share.link }}" target="_blank">{{ share.title }}</a>
    </div>
    <div class="article-comment">
      分享人: {{ share.person }}
    </div>
  </div>
{% endfor %}
</div>
<div class="article">
  <div class="page-title">
    博客
  </div>
{% for post in site.posts limit:5 %}
  {% if post.layout == "blog" %}
  <div class="article-item">
    <div class="article-date">
      {{ post.date | date: "%Y/%m/%d" }}
    </div>
    <div class="article-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
    </div>
    <div class="article-main">
      {{ post.excerpt }}
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>
<div class="article">
  <div class="page-title">
    项目
  </div>
  {% for project in site.data.project %}
  <div class="article-item">
    <div class="article-title">
      <a href="{{ project.link }}">{{ project.name }}</a>
    </div>
    <div class="article-comment">
      {{ project.intro }}
    </div>
  </div>
  {% endfor %}
</div>	