---
layout: page
title: Weekly | MSBU Tech
head: MSBU Tech Weekly
type: weekly
---
<div class="page-title">
  周刊
</div>
<p>
  MSBU Tech 技术周刊，每周五发布预览版，第二周周二正式发布。
</p>
<div class="article">
  <div id="rss">
    <i class="fa fa-rss-square" aria-hidden="true"></i>
    <a href="/weekly/feed.xml" target="_blank">
      订阅
    </a>
  </div>
{% for post in site.posts %}
  {% if post.layout == "weekly" %}
  <div class="article-item">
    <div class="article-date">
      {{ post.date | date: "%Y/%m/%d" }}
    </div>
    <div class="article-title">
      <a href="{{ site.baseurl }}{{ post.url }}">业内技术周刊</a>
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>