<nav>
  <div class="wrapper">
    <div id="menu">
      <div class="menu-item {% if page.type == "index" %}{{ "menu-active" }}{% endif %}">
        <a href="/">首页</a>
      </div>
      <div class="menu-item {% if page.type == "weekly" %}{{ "menu-active" }}{% endif %}">
        <a href="/weekly/">周刊</a>
      </div>
      <div class="menu-item {% if page.type == "share" %}{{ "menu-active" }}{% endif %}">
        <a href="/share/">分享</a>
      </div>
      <div class="menu-item {% if page.type == "project" %}{{ "menu-active" }}{% endif %}">
        <a href="/project/">项目</a>
      </div>
      <div class="menu-item {% if page.type == "blog" %}{{ "menu-active" }}{% endif %}">
        <a href="/blog/">博客</a>
      </div>
      <div class="menu-item {% if page.type == "about" %}{{ "menu-active" }}{% endif %}">
        <a href="/about/">关于</a>
      </div>
    </div>
    <div id="dropdown">
      <a href="javascript:toggleDropdown()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div id="head">
      🎄<a href="/">MSBU Tech</a>🎁
    </div>
  </div>
</nav>
<script>
  function toggleDropdown() {
    var menu = document.getElementById("menu");
    menu.className = "dropdown-menu";
    menu.style.display = "block";
  }
  window.onclick = function(event) {
    if (!event.target.matches('menu')) {
      var menu = document.getElementById("menu");
      menu.style.display = "none";
    }
  }
</script>