* {
  box-sizing: border-box;
}
html {
  width: 100%;
  font-size: 16px;
}
@media (max-width: 48rem) {
  html {
    font-size: 12px;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Helvetica, Arial, "Open Sans", "Microsoft Yahei",sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: #393c40;
  background-color: #f0f1f2;
  word-wrap: break-word;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
}
a {
  text-decoration: none;
  color: #4a90e2;
}
a:hover {
  text-decoration: underline;
}
.wrapper {
  margin: 0 auto;
  max-width: 48rem;
}
@media (max-width: 48rem) {
  .wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
nav{
  color: #ffffff;
  background-color: #393c40;
  border-bottom: .1rem solid #ddd;
  align-items: center;
  margin-bottom: 1rem;
  padding-top: 1.6rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.25;
}
/* Menu */
#head {
  margin-top: -0.2rem;
  font-size: 1.2rem;
  text-align: left;
  font-weight: bold;
}
#menu {
  display: flex;
  margin-left: 0.8rem;
  float: right;
}
.menu-item {
  padding-left: 0.8rem;
  text-align: center;
}
.menu-item a {
  color: #b4b8bf;
  text-decoration: none;
}
.menu-item a:hover {
  color: #ffffff;
}
.menu-active a {
  color: #ffffff;
  text-decoration: none;
}
#dropdown {
  display: none;
}
.dropdown-menu {
  display: block;
  position: fixed;
  background-color: #393c40;
  top: 3rem;
  right: 0;
  padding-top: 1rem;
  padding-right: .8rem;
  padding-bottom: .4rem;
  border-radius: .2rem;
}
@media (max-width: 48rem) {
  nav {
    display: block;
  }
  #head {
    font-size: 1.2rem;
    padding-left: .2rem;
    margin-bottom: .2rem;
  }
  #menu {
    display: none;
  }
  #dropdown {
    display: block;
    float: right;
  }
}
#content {
  text-align: left;
  min-height: 10rem;
}
.page-date {
  text-align: center;
  margin-bottom: 2rem;
}
.page-title {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  color: #393c40;
}
.article {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding: 1rem;
  background-color: #f7f8fa;
  box-shadow: 0 .1rem .4rem 0 #ddd;
  hyphens: auto;
}
.article:hover{
  box-shadow:0 .1rem .4rem .1rem #ddd;
}
.article-item {
  /*margin-top: .5rem;*/
}
.article-share {
  display: none;
}
.article-title {
  color: #757980;
}
.article-title:hover .article-share {
  display: inline-block;
}
.article-original {
  font-weight: bold;
}
.article-year {
  margin-top: 2rem;
}
.article-date {
  margin-top: 0;
  margin-bottom: 0;
  color: #b4b8bf;
}
.article-star {
  float: right;
  right: 1rem;
  width: 6rem;
}
.article-icon {
  float: right;
  font-size: 1.25rem;
}
.article-icon a:hover {
  text-decoration: none;
}
.article-comment {
  margin-top: .4rem;
  font-size: .9rem;
}
.article-referrer:hover {
  text-decoration: underline;
  cursor: default;
}
.article-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0.2rem;
  font-size: .8rem;
}
.tag-item:before {
  content: "#";
  font-size: 1rem;
}
.tag-item {
  padding: .2rem;
  margin-right: .25rem;
  margin-bottom: .25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tag-item:hover {
  cursor: default;
}
@media (min-width: 48rem) {
  .article-date {
    float: right;
    margin-left: 1rem;
  }
  .article-item {
  }
  .article-referrer {
    float: right;
  }
  .article-star {
    float: right;
    right: 1rem;
    width: 5rem;
  }
}
footer {
  background-color: #f7f8fa;
  font-size: 1rem;
  border-top: .1rem solid #ddd;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer-main {
  display: flex;
  justify-content: space-between;
}
.footer-column {
  text-align: left;
  padding-left: 1rem;
}
.footer-column:first-child {
  border-left: none;
}
.footer-list {
}
.footer-list li {
  list-style: none;
  margin-left: -2.5rem;
  padding-top: .2rem;
}
.footer-heading {
  line-height: 1.25;
  padding-right: 1rem;
}
@media (max-width: 48rem) {
  .footer-main {
    display: block;
  }
  .footer-column {
    display: none;
  }
  .footer-column:first-child {
    display: block;
  }
  .footer-list {
    display: none;
  }
}
.info {
  background-color: #6ec3b4;
}
.info a {
  color: #393c40;
}
.hint {
  background-color: #facb5b;
}
.warning {
  background-color: #e95260;
}
img {
  max-width: 100%;
}
.hidden-newsletter {
  text-align: center;
  color: #f0f1f2;
}
.hidden-newsletter a {
  color: #f0f1f2;
}
.hidden-newsletter a:hover {
  color: #393c40;
}
@media (max-width: 48rem) {
  .hidden-newsletter {
    display: none;
  }
}
ul li {
  margin-left: -1rem;
  line-height: 1.5;
}