---
layout: page
title: 博客 | MSBU Tech
head: MSBU Tech Blog
type: blog
---
<div class="page-title">
  博客
</div>
<div class="article">
  <div id="rss">
    <i class="fa fa-rss-square" aria-hidden="true"></i>
    <a href="/blog/feed.xml" target="_blank">
      订阅
    </a>
  </div>
{% for post in site.posts %}
  {% if post.layout == "blog" %}
  <div class="article-item">
    <div class="article-date">
      {{ post.date | date: "%Y/%m/%d" }}
    </div>
    <div class="article-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
    </div>
    <div class="article-main">
      {{ post.excerpt }}
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>