---
layout: default
---
<div class="page-title">
MSBU Tech 技术周刊
</div>
<div id="date">
{{ page.date | date:"%Y/%m/%d" }}
</div>
{% for article in site.data[page.datasrc].articles %}
<div class="article">
  <div class="article-title">
    <a href="{{ article.link}}" target="_blank">{{ article.title }}</a>
  </div>
  <div class="article-tags">
    {% for tag in article.tags %}
      <div class="tag-item">{{ tag }}</div>
    {% endfor %}
  </div>
  {% if article.comment %}
    <div class="article-comment">
      {% if article.referrer %}
        <span class="article-referrer">{{ article.referrer}}</span>
      {% endif %}
      {{ article.comment }}
    </div>
  {% endif %}
</div>
{% endfor %}