---
layout: nil
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>业内技术周刊 {{ page.date | date:"%Y/%m/%d" }}</title>
  <style type="text/css">
  h2 {
    font-size: 28px;
    font-weight: normal;
  }
  h3 {
    font-weight: normal;
  }
  h4 {
    margin-bottom: 0;
    font-weight: normal;
  }
  h5 {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
  }
  a {
    color: darkred;
    text-decoration: none;
  }
  .link {
    margin-bottom: 3em;
  }
  .tags {
  	margin-top: 0;
  }
  </style>
</head>
<body>
  <h2>业内技术周刊</h2>
  <h4 class="date">{{ page.date | date:"%Y/%m/%d" }}</h4>
  <h4 class="link"><a href="https://msbu-tech.github.io/{{ page.date | date:"%Y/%m/%d" }}/weekly.html">https://msbu-tech.github.io/2016/09/20/weekly.html</a> <a href="https://msbu-tech.github.io/weekly/feed.xml">订阅</a></h4>
  
  {% for article in site.data[page.datasrc].articles %}
  <h4><a href="{{ article.link }}">{{ article.title }}</a></h4>
  <h5 class="tags">
  	{% for tag in article.tags %}
  	  #{{ tag }}
  	{% endfor %}
  </h5>
  <h5>{{ article.comment }}</h5>
  <hr>
  {% endfor %}

  <h4>MSBU Tech &copy; 2016. <a href="https://msbu-tech.github.io/2016/09/20/weekly.html">https://msbu-tech.github.io/2016/09/20/weekly.html</a></h4>
</body>
</html>