---
layout: default
---
<div class="page-title">
MSBU Tech 技术周刊
</div>
<div class="page-date">
{{ page.date | date:"%Y/%m/%d" }}
</div>
{% for article in page.articles %}
<div id="i-article-{{ forloop.index }}" class="article">
  {% if article.referrer %}
  <div class="article-referrer">{{ article.referrer}}</div>
  {% endif %}
  <div class="article-title">
    <span><a href="{{ article.link}}" target="_blank">{{ article.title }}</a></span>
    <span class="article-share">
      <a href="#i-article-{{ forloop.index }}">
        <i class="fa fa-paragraph"></i>
      </a>
    </span>
  </div>
  <div class="article-tags">
    {% for tag in article.tags %}
      <div class="tag-item">{{ tag }}</div>
    {% endfor %}
  </div>
  {% if article.comment %}
    <div class="article-comment">
      {{ article.comment }}
    </div>
  {% endif %}
</div>
{% endfor %}
{% include duoshuo.html %}
